{% block id 'empty_result' %}
{% block content %}
      	<div class="container">
        <h1 style="font-size:30px;">Désolé, nous n'avons pas trouvé la page demandée <span></span></h1>
    	<h1>Essayez de rafraîchir la page dans un instant et sûrement
         Vous pouvez accéder à la page demandée. Si l'erreur persiste,
         S'il vous plaît nous conseillez-vous dans la direction contact@sahadina.com</h1>
        <div class="gap gap-small"></div><a href="{{path('sahadina_locale_home', { '_locale': app.request.locale})}}" class="btn btn-primary btn-mega">Retour à l'accueil</a>
        <div class="gap"></div>
    </div>
{% endblock %}