<span>
    {% if object.providerName is defined and object.providerName == 'sonata.media.provider.image' %}
        <a href="{{ url }}" target="new">{% media object, 'reference' %}</a>
    {% else %}
        <a href="{{ url }}" target="new">{{ description }}</a>
    {% endif %}
</span>